.venv/
venv/
env/
.DS_Store
/.DS_Store
/.ipynb_checkpoints
.ipynb_checkpoints
/.ipynb_checkpoints/*
.ipynb_checkpoints/*
imdb_cache.sqlite
./imdb_cache.sqlite
primer_exercise1/imdb_cache.sqlite
*.sqlite
